/* Dream Frame v5 */
:root {
    /** Background */
    /* Background */
    --bg-url: url(https://cdn.wallpaperhub.app/cloudcache/6/2/5/7/0/9/62570955bdb94feb3e6f743d526896aba879afbe.jpg); /* Choose a image URL for your Background */
    /* Adjustments */
    --bg-blur: 20px; /* Choose how blurry your Background will be */
    --bg-brightness: 0.1; /* Choose how dark your Background will */
    --bg-scale: cover; /* Adjust size of your Background */
    --bg-repeat: no-repeat; /* Choose if you want your background to have a pattern */
    --bg-rotation: 0deg;
    /* Containers */
    --bg-cb-server-list: rgba(41, 43, 47, 0);
    --bg-cb-channels-list: rgba(41, 43, 47, 0);
    --bg-cb-friends-list: rgba(41, 43, 47, 0);
    --bg-cb-members-list: rgba(41, 43, 47, 0);
    --bg-cb-chat: rgba(41, 43, 47, 0);
    --bg-cb-chat-header: rgba(41, 43, 47, 0);
    --bg-cb-settings-left-sidebar: rgba(41, 43, 47, 0);
    --bg-cb-settings-page: rgba(41, 43, 47, 0);

    /** Profiles **/
    /* Covers(usrbg) */
    --pf-cover: inherit; /* Hide or show covers */
    /* Notes */
    --pf-notes: inherit; /* Hide or show notes */
    
    /** Colors **/
    /* Accent */
    --cl-accent-primary: rgb(114, 137, 214); /* Set accent color */
    --cl-accent-secondary: rgb(255, 255, 255); /* Set accent color(seconds will be used if gradient is in use) */
    --cl-accent-link: rgb(27, 174, 240); /* Set link color */
    /* Status */
    --cl-status-online: rgb(70, 181, 132);
    --cl-status-idle: rgb(249, 166, 54);
    --cl-status-dnd: rgb(239, 73, 75);
    --cl-status-offline: rgb(116, 127, 140);
    --cl-status-streaming: rgb(88, 55, 146);
    /* Scrollbar */
    --cl-scrollbar: rgb(255, 255, 255);

    /** Server List **/
    /*  Home Button Icon */
    --hb-url: url();
    /*  Home Button Adjustments */
    --hb-scale: 1;
    /* Server Icons */
    --rd-server-icons: 50px;
    /* Show or Hide */
    --sl-discovery: inherit;
    --sl-addJoin: inherit;

    /** Roundness **/
    --rd-server-banner: 4px;
    --rd-avatar: 50px;
    --rd-btns: 7px;
    --rd-app: 0px;
    --rd-boxes: 7px;
    --rd-channels: 7px;
    --rd-img: 4px;
    --rd-notice: 7px;
    --rd-context-menu: 4px;

    /** Chat **/
    /* Text Box */
    --chat-sticker: none;
    --chat-gif: none;
    --chat-gift: none;
    --chat-emoji: inherit;
    /* Embeds */
    --chat-emb-bg: rgba(24, 25, 28, 0.75);
    --chat-emb-blur: 10px;
    /* Codeblocks */
    --chat-code-bg: rgba(24, 25, 28, 0.75);
    --chat-code-blur: 10px;
    /* Emoji Menu */
    --chat-em-bg: rgba(24, 25, 28, 0.75);
    --chat-em-blur: 10px;

    /** Channels **/
    --ch-selected: linear-gradient(45deg, rgba(114, 137, 214, 1), rgba(114, 137, 214, 0.05));
    --ch-unread: rgba(64, 73, 100, 0.75);
    
    /** Pop Ups **/
    /* Notifications */
    --app-notice-area: 50px;
    --app-notice-blur: 20px;
    --app-cm-blur: 10px;
    --app-cm-background: rgba(24, 25, 28, 0.75);
}

/*** App ***/
/** Variables **/
::-webkit-scrollbar-track {background-color: transparent !important;}
::-webkit-scrollbar-thumb {background-color: var(--cl-scrollbar) !important;}
/*** Background ***/
/** Custom Background **/
.appMount-3lHmkl {
    background-color: transparent;
}
.appMount-3lHmkl::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--bg-url);
    background-size: var(--bg-scale);
    background-position: center;
    background-repeat: var(--bg-repeat);
    filter: brightness(var(--bg-brightness));
    z-index: -2;
}
.appMount-3lHmkl::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--bg-blur)) contrast(0.8);
    z-index: -1;
}
/** Containers **/
/* Transparency */
.app-2rEoOp, .bg-h5JY_x, .contentRegionScroller-26nc1e, .privateChannels-1nO12o, .scroller-1JbKMe, .theme-dark .container-1D34oG, .scroller-2TZvBN, .container-3w7J-x, .panels-j1Uci_, .threadSidebar-1o3BTy {
    background: transparent;
}
/* Variables */
.wrapper-1Rf91z {
    background: var(--bg-cb-server-list);
}
.sidebar-2K8pFh {
    background: var(--bg-cb-channels-list);
}
.chat-3bRxxu, .theme-dark .pageWrapper-1PgVDX {
    background: var(--bg-cb-chat);
}
.container-1r6BKw.themed-ANHk51 {
    background: var(--bg-cb-chat-header);
}
.members-1998pB, .members-1998pB>div {
    background-color: var(--bg-cb-members-list);
}
.tabBody-3YRQ8W {
    background: var(--bg-cb-friends-list);
}
.sidebarRegionScroller-3MXcoP {
    background: var(--bg-cb-settings-left-sidebar);
}
.contentRegion-3nDuYy {
    background: var(--bg-cb-settings-page);
}
/*** Pop Ups ***/
/** Mini Profile **/
/* Shadow */
.userPopout-3XzG_A {
    box-shadow: none;
}
/* Background */
.userPopout-3XzG_A {
    backdrop-filter: var(--chat-emb-blur);
}
.headerSpotify-zpWxgT, .theme-dark .headerNormal-T_seeN, .body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background: transparent;
}
.headerNormal-T_seeN.header-2BwW8b.size16-14cGz5::before {
    content: "";
    background: var(--chat-emb-bg);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
.headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5::before {
    content: "";
    background: #25B95C;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
.headerPlaying-j0WQBV::before {
    content: "";
    background: var(--cl-accent-primary);
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
/* Tip */
.footer-1fjuF6 {
    display: none;
}
/** Context Menu **/
/* Style */
div#guild-header-popout {
    background: var(--app-cm-background);
    backdrop-filter: blur(var(--app-cm-blur));
    border-radius: var(--rd-context-menu);
}
div#status-picker {
    background: var(--app-cm-background);
    backdrop-filter: blur(var(--app-cm-blur));
    border-radius: var(--rd-context-menu);
}
.separator-2I32lJ {display: none;}
/* Slider */
.sliderContainer-2Nrll8 {
    width: 141px;
    margin-left: 33px;
}
/** Emoji/Stickers/Gif Menu **/
/* Style */
.contentWrapper-SvZHNd {
    background: var(--chat-em-bg);
    backdrop-filter: blur(var(--chat-em-blur));
    border-radius: var(--rd-boxes);
    border: none;
}
.emojiPickerInExpressionPicker-3IzIcv .categoryList-2Kzf65, .categoryListWithSearch-1wO0cJ {
    top: -47px;
}
.navList-2UtuhC {
    position: absolute;
    top: 13px;
    right: 11px;
    z-index: 400;
}
.header-8ilj5e {
    margin-left: 160px;
    position: absolute;
    top: -41px;
    left: -121px;
    width: 210px;
    box-shadow: none;
}
.container-2XeR5Z.medium-2-DE5M {
    margin-left: 160px;
    position: absolute;
    top: -41px;
    left: -105px;
    width: 177px;
    box-shadow: none;
}
.header-2k4I2o {
    box-shadow: none;
}
.wrapper-1-Fsb8.packHeader-NLJ7S5 {
    background: transparent;
}
.searchBar-5di9mG.container-2XeR5Z.medium-2-DE5M {
    background: transparent;
}
.diversitySelector-1v4_1A {
    display: none;
}
.inspector-S2gM3e, .wrapper-1-Fsb8 {
    background: transparent;
}
/** Notification **/
/* Style */
.notice-3bPHh- {
    border-radius: var(--rd-notice);
    background: transparent;
    position: fixed;
    top: 30px;
    right: 30px;
    display: grid;
    padding: 0px 20px 20px 20px;
    backdrop-filter: blur(var(--app-notice-blur)) contrast(0.8);
    transition: 0.3s backdrop-filter;
}
.notice-3bPHh-:hover {
    backdrop-filter: blur(20px) contrast(0.8);
    transition: 0.3s backdrop-filter;
}
.notice-3bPHh-::before {
    content: "Notification";
    text-align: left;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: -6px;
}
.closeButton-3cJIM4 {cursor: default;}
/* Streaming */
.notice-3bPHh-.colorStreamerMode-2SJAUN {
    background: radial-gradient(rgba(88, 55, 146, 0.75), rgba(88, 55, 146, 0.25));
}
/* Powercord Unsupport Build */
div#pc-unsupported-build {
    background: radial-gradient(rgba(241, 102, 47, 0.75), rgba(241, 102, 47, 0.25));
}
/*** Chat ***/
/** Beginning of a channel **/
.colorHeaderSecondary-3Sp3Ft.size14-e6ZScH.subtitle-2UIIw0.noChildren-1pQQQE {
    display: none;
}
.container-3RCQyg {border: none;}
.colorHeaderPrimary-26Jzh-.size32-o_H79z.titleName-3-Lp3Z {
    text-align: left;
    font-weight: 400;
    position: absolute;
    left: 18px;
    top: 0px;
    display: flex;
    margin-left: 0px;
}
.colorHeaderPrimary-26Jzh-.size32-o_H79z.titleName-3-Lp3Z p {
    margin-right: 7px;
}
/** Date **/
.divider-JfaTT5 {border:none;}
.content-1o0f9g {
    position: absolute;
    left: 55px;
    color: var(--cl-accent-secondary);
    padding: 5px 10px;
    background: var(--cl-accent-primary);
}
/** Embeds **/
.embedFull-2tM8-- {
    background: var(--chat-em-bg);
    backdrop-filter: blur(var(--chat-em-blur));
    border-radius: var(--rd-boxes);
}
/** Loading Messages **/
.wrapper-1F5TKx, .wrapper-3vR61M {
    background: transparent;
}
/** Text Box **/
/* Background and Etc */
.scrollableContainer-2NUZem, .channelTextArea-rNsIhG {
    background: transparent !important;
}
.form-2fGMdU:before {
    display: none;
}
/* Variables */
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Send a gift"] {
    display: var(--chat-gift);
}
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Open GIF picker"] {
    display: var(--chat-gif);
}
button.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.emojiButton-pET4wH.button-318s1X.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Select emoji"] {
    display: var(--chat-emoji);
}
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Open sticker picker"] {
    display: var(--chat-sticker) !important;
}
/** Header **/
/* Etc */
.content-yTz4x3:before, .children-19S4PO:after {display: none;}
section.title-3qD0b-.container-1r6BKw.themed-ANHk51 {height: 70px;}
/*** Channels ***/
/** Channels **/
/* Color Names */
.name-23GUGE, .icon-22AiRD, .icon-1DeIlz, .container-2ax-kl, .modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: white;
}
/* Unread */
.unread-2lAfLh {
    background: var(--ch-unread);
    width: 224px;
    height: 32px;
    top: 5px;
    left: 8px;
    border-radius: var(--rd-channels);
}
/* Selected */
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background: var(--ch-selected);
    border-radius: var(--rd-channels);
}
/** Bottom **/
section.panels-j1Uci_ {
    height: 70px;
}
/** Server Name **/
/* Etc */
.header-2V-4Sw {box-shadow: none;}
.container-1taM1r.clickable-25tGDB {margin: 12px 0px 10px 0px;}
/** Banner **/
.animatedContainer-1NSq4T {border-radius: var(--rd-server-banner);box-shadow: none;}
