@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://dream-frame.github.io/fallback/fallback.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
/* Dream Frame v5 */
:root {
    /** Background */
    /* Background */
    --bg-url: url(); /* Choose a image URL for your Background */
    /* Adjustments */
    --bg-blur: 0px; /* Choose how blurry your Background will be */
    --bg-brightness: 0.3; /* Choose how dark your Background will */
    --bg-scale: cover; /* Adjust size of your Background */
    --bg-repeat: no-repeat; /* Choose if you want your background to have a pattern */

    /** Profiles **/
    /* Covers(usrbg) */
    --pf-cover: inherit; /* Hide or show covers */
    /* Notes */
    --pf-notes: inherit; /* Hide or show notes */
    
    /** Colors **/
    /* Accent */
    --cl-accent-primary: rgb(114, 137, 214); /* Set accent color */
    --cl-accent-secondary: rgb(114, 137, 214); /* Set accent color(seconds will be used if gradient is in use) */
    --cl-accent-link: rgb(27, 174, 240); /* Set link color */
    /* Status */
    --cl-status-online: rgb(70, 181, 132);
    --cl-status-idle: rgb(249, 166, 54);
    --cl-status-dnd: rgb(239, 73, 75);
    --cl-status-offline: rgb(116, 127, 140);
    --cl-status-streaming: rgb(88, 55, 146);
    /* Scrollbar */
    --cl-scrollbar: rgb(255, 255, 255);

    /** Server List **/
    /*  Home Button Icon */
    --hb-url: url();
    /*  Home Button Adjustments */
    --hb-scale: ;
    /* Server Icons */
    --rd-server-icons: 50px;
    /* Show or Hide */
    --sl-discovery: inherit;
    --sl-addJoin: inherit;

    /** Roundness **/
    --rd-server-banner: 4px;
    --rd-avatar: 50px;
    --rd-btns: 7px;
    --rd-app: 0px;
    --rd-boxes: 7px;
    --rd-channels: 7px;
    --rd-img: 4px;

    /** Chat **/
    /* Text Box */
    --chat-sticker: inherit;
    --chat-gif: inherit;
    --chat-gift: inherit;
    --chat-emoji: inherit;
    /* Embeds */
    --chat-emb-bg: ;
    --chat-emb-blur: ;
    /* Codeblocks */
    --chat-code-bg: ;
    --chat-code-blur: ;

    /** Channels **/
    --ch-selected: ;
    --ch-unread: ;
}
