/*** App ***/
/** Variables **/
::-webkit-scrollbar-track {background-color: transparent !important;}
::-webkit-scrollbar-thumb {background-color: var(--cl-scrollbar) !important;}
/*** Background ***/
/** Custom Background **/
.appMount-3lHmkl {
    background-color: transparent;
}
.appMount-3lHmkl::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--bg-url);
    background-size: var(--bg-scale);
    background-position: center;
    background-repeat: var(--bg-repeat);
    filter: brightness(var(--bg-brightness)) contrast(0.8);
    z-index: -2;
}
/** App **/
.app-1q1i1E {
    background: var(--bg-app-bg);
    backdrop-filter: blur(var(--bg-blur));
    margin: var(--app-pd);
    border-radius: var(--bg-app-rd);
}
/** Containers **/
/* Transparency */
.app-2rEoOp, .scroller-305q3I, .layer-3QrUeG, .standardSidebarView-3F1I7i, .bg-h5JY_x, .contentRegionScroller-26nc1e, .privateChannels-1nO12o, .scroller-1JbKMe, .theme-dark .container-1D34oG, .scroller-2TZvBN, .container-3w7J-x, .panels-j1Uci_, .threadSidebar-1o3BTy {
    background: transparent;
}
/* Variables */
.wrapper-1Rf91z {
    background: var(--bg-cb-server-list);
}
.sidebar-2K8pFh {
    background: var(--bg-cb-channels-list);
}
.chat-3bRxxu, .theme-dark .pageWrapper-1PgVDX {
    background: var(--bg-cb-chat);
}
.container-1r6BKw.themed-ANHk51 {
    background: var(--bg-cb-chat-header);
}
.members-1998pB, .members-1998pB>div {
    background-color: var(--bg-cb-members-list);
}
.tabBody-3YRQ8W {
    background: var(--bg-cb-friends-list);
}
.sidebarRegionScroller-3MXcoP {
    background: var(--bg-cb-settings-left-sidebar);
}
.contentRegion-3nDuYy {
    background: var(--bg-cb-settings-page);
}
/*** Pop Ups ***/
/** Upload **/
img.icon-kyxXVr.image-2yrs5j {
    width: 530px !important;
    height: 270px !important;
    margin: -4px 0px 0px -4px !important;
    object-fit: cover !important;
    position: absolute;
    z-index: 10;
    border-radius: var(--rd-img);
}
.footer-3mqk7D.hasSpoilers-1IRtQC {
    position: fixed;
    z-index: 11;
    bottom: -12px;
    right: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
}
.uploadModal-2ifh8j::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(100% - -12px);
    background: linear-gradient(0deg, rgba(0, 0, 0, .50), transparent);
    z-index: 11;
}
.colorStandard-2KCXvj {color: white;}
.theme-dark .checkbox-1ix_J3 {
    border-color: white !important;
    border-radius: 50px;
}
.comment-4IWttf {
    position: fixed;
    z-index: 20;
    bottom: -13px;
    width: 170px;
}

/** Mini Profile **/
/* Shadow */
.userPopout-3XzG_A {
    box-shadow: none;
}
/* Background */
.userPopout-3XzG_A {
    backdrop-filter: blur(var(--chat-emb-blur));
}
.headerSpotify-zpWxgT, .theme-dark .headerNormal-T_seeN, .body-3iLsc4.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background: transparent;
}
.headerNormal-T_seeN.header-2BwW8b.size16-14cGz5::before {
    content: "";
    background: var(--chat-emb-bg);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
.headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5::before {
    content: "";
    background: #25B95C;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
.headerPlaying-j0WQBV::before {
    content: "";
    background: var(--cl-accent-primary);
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: var(--rd-boxes);
    z-index: -1;
}
/* Tip */
.footer-1fjuF6 {
    display: none;
}
/** Context Menu **/
/* Style */
div#guild-header-popout {
    background: var(--app-cm-background);
    backdrop-filter: blur(var(--app-cm-blur));
    border-radius: var(--rd-context-menu);
}
div#status-picker {
    background: var(--app-cm-background);
    backdrop-filter: blur(var(--app-cm-blur));
    border-radius: var(--rd-context-menu);
}
.separator-2I32lJ {display: none;}
/* Slider */
.sliderContainer-2Nrll8 {
    width: 141px;
    margin-left: 33px;
}
/** Emoji/Stickers/Gif Menu **/
/* Style */

/** Notification **/
/* Style */
.notice-3bPHh- {
    border-radius: var(--rd-notice);
    background: transparent;
    position: fixed;
    top: 30px;
    right: 30px;
    display: grid;
    padding: 0px 20px 20px 20px;
    backdrop-filter: blur(var(--app-notice-blur)) contrast(0.8);
    transition: 0.3s backdrop-filter;
}
.notice-3bPHh-:hover {
    backdrop-filter: blur(20px) contrast(0.8);
    transition: 0.3s backdrop-filter;
}
.notice-3bPHh-::before {
    content: "Notification";
    text-align: left;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: -6px;
}
.closeButton-3cJIM4 {cursor: default;}
/* Streaming */
.notice-3bPHh-.colorStreamerMode-2SJAUN {
    background: radial-gradient(rgba(88, 55, 146, 0.75), rgba(88, 55, 146, 0.25));
}
/* Powercord Unsupport Build */
div#pc-unsupported-build {
    background: radial-gradient(rgba(241, 102, 47, 0.75), rgba(241, 102, 47, 0.25));
}
/*** Chat ***/
/** Mentions **/
.mentioned-xhSam7:before{display: none}
.mentioned-xhSam7{border-radius: var(--rd-boxes);}
/** Actions **/
.wrapper-2aW0bm {
    background: var(--cl-accent-primary) !important;
    transform: scale(0.8);
}
.button-1ZiXG9 {
    color: var(--cl-accent-secondary);
}
/** Beginning of a channel **/
.colorHeaderSecondary-3Sp3Ft.size14-e6ZScH.subtitle-2UIIw0.noChildren-1pQQQE {
    display: none;
}
.container-3RCQyg {border: none;}
.colorHeaderPrimary-26Jzh-.size32-o_H79z.titleName-3-Lp3Z {
    text-align: left;
    font-weight: 400;
    position: absolute;
    left: 18px;
    top: 0px;
    display: flex;
    margin-left: 0px;
}
.colorHeaderPrimary-26Jzh-.size32-o_H79z.titleName-3-Lp3Z p {
    margin-right: 7px;
}
/** Image **/
.imageWrapper-2p5ogY img {
    border-radius: var(--rd-img);
}
/** Video Player **/
/* Seak */
.horizontal-3Sq5iO {
    position: absolute;
    margin-top: 0px;
}
.mediaBarInteraction-37i2O4, .mediaBarInteractionDragging-2QurIZ {
    margin: 0 0px;
}
.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before {
    background-color: var(--cl-accent-primary);
}
/* Volume Control */
.volumeSliderWrapper-1A8mUw {
    margin-bottom: 10px;
    margin-left: 7px;
}
/* Controls */
.videoControls-2kcYic {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding-bottom: 10px;
    height: 40px;
}
.audioControls-2HsaU6, .videoControls-2kcYic {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(10px);
}
svg.controlIcon-3cRbti {
    margin: 15px 0px 0px 10px;
}
.durationTimeWrapper-OugPFt {
    margin: 16px 0px 0px 192px;
}
/** Date **/
.divider-JfaTT5 {border:none;}
.content-1o0f9g {
    position: absolute;
    left: 55px;
    color: var(--cl-accent-secondary);
    padding: 5px 10px;
    background: var(--cl-accent-primary);
}
.isUnread-3Ef-o9 .content-1o0f9g {
    color: white;
}
/** New **/
.unreadPillCap-3_K2q2{display:none}
span.unreadPill-2HyYtt {
    border-radius: var(--rd-boxes);
    padding: 11.6px 10px;
    position: absolute;
    margin-top: -5px;
    left: 0px;
    width: fit-content;
}
/** Codeblock **/
.powercord-codeblock-lang, .powercord-codeblock-table td:first-child {border: none;}
code.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.hljs.css {
    background: var(--chat-code-bg);
    backdrop-filter: blur(var(--chat-code-blur));
    border-radius: var(--rd-boxes);
}
/** Embeds **/
.embedFull-2tM8-- {
    background: var(--chat-em-bg);
    backdrop-filter: blur(var(--chat-em-blur));
    border-radius: var(--rd-boxes);
}
/** Loading Messages **/
.wrapper-1F5TKx, .wrapper-3vR61M {
    background: transparent;
}
/** Text Box **/
/* Background and Etc */
.scrollableContainer-2NUZem, .channelTextArea-rNsIhG {
    background: transparent !important;
}
.form-2fGMdU:before {
    display: none;
}
/* Variables */
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Send a gift"] {
    display: var(--chat-gift);
}
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Open GIF picker"] {
    display: var(--chat-gif);
}
button.emojiButtonNormal-TdumYh.emojiButton-3uL3Aw.emojiButton-pET4wH.button-318s1X.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Select emoji"] {
    display: var(--chat-emoji);
}
button.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN[aria-label="Open sticker picker"] {
    display: var(--chat-sticker) !important;
}
/** Header **/
/* Etc */
.content-yTz4x3:before, .children-19S4PO:after {display: none;}
section.title-3qD0b-.container-1r6BKw.themed-ANHk51 {height: 70px;}
/*** Channels ***/
/** Channels **/
/* Color Names */
.name-23GUGE, .icon-22AiRD, .icon-1DeIlz, .container-2ax-kl, .modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: white;
}
/* Unread */
.unread-2lAfLh {
    background: var(--ch-unread);
    width: 224px;
    height: 32px;
    top: 5px;
    left: 8px;
    border-radius: var(--rd-channels);
}
/* Selected */
.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background: var(--ch-selected);
    border-radius: var(--rd-channels);
}
/** Bottom **/
section.panels-j1Uci_ {
    height: 70px;
}
/** Server Name **/
/* Etc */
.header-2V-4Sw {box-shadow: none;}
.container-1taM1r.clickable-25tGDB {margin: 12px 0px 10px 0px;}
/** Banner **/
.animatedContainer-1NSq4T {border-radius: var(--rd-server-banner);box-shadow: none;}
.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw {border-radius: var(--rd-server-banner);}



























.avatar-1BDn8e, .wrapper-3t9DeA, img.avatar-VxgULZ {
    border-radius: var(--rd-avatar) !important;
}
.pill-31IEus.wrapper-sa6paO {
    margin: 0px 0px 0px 10px;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    z-index: 1;
}
.item-2hkk8m {
    width: 20px;
}
.header-8ilj5e {
    width: 272px;
    border: none;
    box-shadow: none;
    margin: -36px 0px 0px 124px;
    z-index: 5;
    position: absolute;
}
.emojiPickerInExpressionPicker-3IzIcv .categoryList-2Kzf65 {top: 0px;background: transparent;}
.inspector-S2gM3e.inspector-3LQtX9 {background: transparent;}
.header-1TOWci {
    position: absolute;
    margin: -36px 0px 0px 130px;
    z-index: 5;
    box-shadow: none;
    width: 262px;
}
.contentWrapper-SvZHNd {
    background: var(--chat-em-bg);
    backdrop-filter: blur(var(--chat-em-blur));
    border-radius: var(--rd-boxes);
}
.wrapper-1-Fsb8.header-ywPcAE {background: transparent;}
.markup-2BOw-j code {
    background: var(--chat-code-bg);
    border: none;
    backdrop-filter: blur(var(--chat-code-blur));
    border-radius: var(--rd-boxes);
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.connectedAccount-36nQx7 {
    border: none;
}
button.button-2IFFQ4.button-38aScr.lookOutlined-3sRXeN.colorWhite-rEQuAQ.buttonSize-AQY2mE.fullWidth-1orjjo.grow-q77ONN {
    width: fit-content !important;
    right: 0px !important;
    position: absolute;
}
.userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-top: none;
}
.userInfoSection-2acyCx {
    display: var(--pf-notes);
}
.divider-3573oO.dividerDefault-3rvLe-, .divider-3FBTu8 {
    display: none;
}
.nowPlayingColumn-2sl4cE {
    background: transparent;
}
.searchBar-6Kv8R2 {
    box-shadow: none;
}
.tabBody-3YRQ8W:before{display:none}
.peopleListItem-2nzedh {
    border: none;
}
