/**** Backgrounds ****/
/*** Control all backgrounds of containers ***/
/* App */
.appMount-3lHmkl, body {
    background-color: transparent;
}
/* App Layer */
.bg-h5JY_x {
    background-color: transparent;
}
.bg-h5JY_x {
    background-color: transparent;
}
/* Chat Header */
.container-1r6BKw.themed-ANHk51 {
    background: transparent;
}
/* Members List (Right Sidebar) */
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}
/* Chat */
.chat-3bRxxu, .threadSidebar-1o3BTy {
    background: transparent;
}
/* Channels List */
.chat-3bRxxu, .threadSidebar-1o3BTy {
    background: transparent;
}

.container-3w7J-x {
    background-color: transparent;
}
.panels-j1Uci_ {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: transparent;
    z-index: 1;
}
/* DMs List */
.scroller-1JbKMe, .privateChannels-1nO12o {
    background-color: transparent;
}
/* Server List */
.scroller-1Bvpku {
    background-color: transparent;
}
.wrapper-3NnKdC {
    background-color: transparent;
}
/* Friends List */
.theme-dark .container-1D34oG {
    background-color: transparent;
}
/* Now Playing */
.nowPlayingColumn-2sl4cE, .container-lRFx4q {
    background: transparent;
}
/* Settings */
.standardSidebarView-3F1I7i {
    background-color: transparent;
}
.layer-3QrUeG {
    background-color: transparent;
}
/* Right side of Settings */
.contentRegionScroller-26nc1e, .contentRegion-3nDuYy {
    background-color: transparent;
}
/* Left side of Settings */
.sidebarRegionScroller-3MXcoP {
    background: transparent;
}
